import * as React from 'react';
import { Helmet } from 'react-helmet';

import './{{pascalCase route}}.styles.scss'


const {{pascalCase route}}: React.FC = () => {
    return(
        <React.Fragment>
            <Helmet>
                <title>Starter - {{pascalCase route}}</title>
                <meta name="{{lowerCase route}}" content="A description of my amazing React app" />
            </Helmet>
            {{pascalCase route}} Component
        </React.Fragment>
)};

export default {{pascalCase route}}